body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-studio {
    color: #2e2f42;
    }

.menu-bar {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.menu-bar:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.menu-bar:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.addr {
    font-style: normal;
}

.contacts {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts:hover {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.contacts:focus {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.section-one {
    background: #2e2f42;
}

.tagline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-os {
    background: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.button-os:hover {
    background: #404bbf;
}
.button-os:focus {
    background: #404bbf;
}

.h-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.h-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.section-three {
    background: #f4f4fd;
    text-align: center;
}

.section-three-list {
    background-color: #FFFFFF
}

.foot {
    background-color: #2e2f42;
}

.tagline-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    text-decoration: none;
}

.logo-studio-footer {
    color: #f4f4fd;
}